<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/HH/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/HH/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/HH/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/HH/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script src="~/Content/HH/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Content/HH/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/Content/HH/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/HH/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/HH/js/plugins/layer/layer.min.js"></script>
    <script src="~/Content/HH/js/hplus.min.js?v=4.1.0"></script>
    <script src="~/Content/HH/js/contabs.min.js" type="text/javascript"></script>
    <script src="~/Content/HH/js/plugins/pace/pace.min.js"></script>
    @RenderSection("script", false)
</body>
</html>
