
@{
    Layout = null;
}
@model Gift.Gift_Article
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article2</title>
    <link href="~/Content/simditor/styles/simditor.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="~/Content/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="~/Content/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="~/Content/simditor/scripts/simditor.js"></script>
</head>
<body>
    <div>
        <textarea id="editor" placeholder="Balabala" autofocus>
                        @Html.Raw(Model.ContentHtml)
        </textarea>
    </div>
    <script>
        $(function () {
            var editor = new Simditor({
                textarea: $('#editor')
                //optional options
            });
        })
    </script>
</body>
</html>
