@{
    ViewBag.Title = "Home Page";
}

@section style{
    <style>
        .thumbnail {
            border-radius: 10px;
            margin-bottom: 10px;
        }

            .thumbnail img {
                border-radius: 10px;
            }

        .caption p {
            height: 60px;
            overflow: hidden; /*内容超出后隐藏*/
            text-overflow: ellipsis; /* 超出内容显示为省略号*/
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .thumbnail:hover {
            cursor: pointer;
            background-color: #EEEEEE;
        }
    </style>
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/2330426103/TB1jF77s9BYBeNjy0FeXXbnmFXa_!!0-item_pic.jpg" alt="AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>AIDU/爱度 A1蓝牙音箱无线手机通A1蓝牙音箱无线手机通用A1蓝牙音箱无线手机通用A1蓝牙音箱无线手机通用A1蓝牙音箱无线手机通用用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/2330426103/TB1jF77s9BYBeNjy0FeXXbnmFXa_!!0-item_pic.jpg" alt="AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/2330426103/TB1jF77s9BYBeNjy0FeXXbnmFXa_!!0-item_pic.jpg" alt="AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/2330426103/TB1jF77s9BYBeNjy0FeXXbnmFXa_!!0-item_pic.jpg" alt="AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/2330426103/TB1jF77s9BYBeNjy0FeXXbnmFXa_!!0-item_pic.jpg" alt="AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/2330426103/TB1jF77s9BYBeNjy0FeXXbnmFXa_!!0-item_pic.jpg" alt="AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">首页</button>
                        <button type="button" class="btn btn-success">上一页</button>
                        <button type="button" class="btn btn-default hidden-xs">1</button>
                        <button type="button" class="btn btn-default hidden-xs">2</button>
                        <button type="button" class="btn btn-default hidden-xs">...</button>
                        <button type="button" class="btn btn-default hidden-xs">3</button>
                        <button type="button" class="btn btn-default">下一页</button>
                        <button type="button" class="btn btn-default">尾页</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

