<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="database" xsi:type="Database">
      <connectionStringName>NLogDb</connectionStringName>
      <commandText>
        INSERT INTO dbo.T_SYS_ErrorLog
        ( Id ,
        Account_Id ,
        Controller，
        Action ,
        DateTime ,
        Content ,
        Ip ,
        Url ,
        Params ,
        DetailedContent
        )
        VALUES  ( @Id ,
        @Account_Id ,
        @Controller,
        @Action ,
        @DateTime ,
        @Content ,
        @Ip ,
        @Url ,
        @Params ,
        @DetailedContent
        )
      </commandText>
      <parameter name="@Id" layout="${guid} " />
      <parameter name="@Account_Id" layout="${event-properties:item=Account_Id}" />
      <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
      <parameter name="@Action" layout="${aspnet-mvc-action}" />
      <parameter name="@DateTime" layout="${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff:}" />
      <parameter name="@Content" layout="${exception}" />
      <parameter name="@Ip" layout="${aspnet-request-ip}" />
      <parameter name="@Url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
      <parameter name="@Params" layout="${aspnet-request-querystring:OutputFormat=JSON}" />
      <parameter name="@DetailedContent" layout="${exception:format=toString}" />
    </target>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->


    <target name="error_database" type="Database" connectionString="Data Source=.;Initial Catalog=HWAdmin;User ID=sa;Password=sa123456" dbProvider="System.Data.SqlClient">
      <commandText>
        INSERT INTO dbo.t_sys_ErrorLog
        (
        Id ,
        Host ,
        Controller ,
        Action ,
        Method ,
        Querystring ,
        FormParams ,
        Url ,
        Cookie ,
        Ip ,
        Account_Id ,
        Useragent ,
        Referrer ,
        DateTime ,
        Message ,
        DetailedMessage
        )
        VALUES  (
        @Id ,
        @Host ,
        @Controller ,
        @Action ,
        @Method ,
        @Querystring ,
        @FormParams ,
        @Url ,
        @Cookie ,
        @Ip ,
        @Account_Id ,
        @Useragent ,
        @Referrer ,
        @DateTime ,
        @Message ,
        @DetailedMessage
        )
      </commandText>
      <parameter name="@Id" layout="${guid}" />
      <parameter name="@Host" layout="${aspnet-request-host}" />
      <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
      <parameter name="@Action" layout="${aspnet-mvc-action}" />
      <parameter name="@Method" layout="${aspnet-request-method}" />
      <parameter name="@Querystring" layout="${aspnet-request-querystring:OutputFormat=JSON}" />
      <parameter name="@FormParams" layout="${exception:format=Data}" />
      <parameter name="@Url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
      <parameter name="@Cookie" layout="${aspnet-request-cookie:OutputFormat=JSON}" />
      <parameter name="@Ip" layout="${aspnet-request-ip}" />
      <parameter name="@Account_Id" layout="${aspnet-item:variable=HttpContext_Account_ID}" />
      <parameter name="@Useragent" layout="${aspnet-request-useragent}" />
      <parameter name="@Referrer" layout="${aspnet-request-referrer}" />
      <parameter name="@DateTime" layout="${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Message" layout="${exception}" />
      <parameter name="@DetailedMessage" layout="${exception:format=toString}" />
    </target>

    <target name="operation_database" type="Database" connectionString="Data Source=.;Initial Catalog=HWAdmin;User ID=sa;Password=sa123456" dbProvider="System.Data.SqlClient">
      <commandText>
        INSERT INTO dbo.t_sys_OperationLog
        (
        Id ,
        Host ,
        Controller ,
        Action ,
        Method ,
        Querystring ,
        FormParams ,
        Url ,
        Cookie ,
        Ip ,
        Account_Id ,
        Useragent ,
        Referrer ,
        DateTime ,
        Operation ,
        ExecuteStatus,
        ErrorMsg
        )
        VALUES  (
        @Id ,
        @Host ,
        @Controller ,
        @Action ,
        @Method ,
        @Querystring ,
        @FormParams ,
        @Url ,
        @Cookie ,
        @Ip ,
        @Account_Id ,
        @Useragent ,
        @Referrer ,
        @DateTime ,
        @Operation ,
        @ExecuteStatus,
        @ErrorMsg
        )
      </commandText>
      <parameter name="@Id" layout="${guid}" />
      <parameter name="@Host" layout="${aspnet-request-host}" />
      <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
      <parameter name="@Action" layout="${aspnet-mvc-action}" />
      <parameter name="@Method" layout="${aspnet-request-method}" />
      <parameter name="@Querystring" layout="${aspnet-request-querystring:OutputFormat=JSON}" />
      <parameter name="@FormParams" layout="${event-properties:item=FormParams}" />
      <parameter name="@Url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
      <parameter name="@Cookie" layout="${aspnet-request-cookie:OutputFormat=JSON}" />
      <parameter name="@Ip" layout="${aspnet-request-ip}" />
      <parameter name="@Account_Id" layout="${aspnet-item:variable=HttpContext_Account_ID}" />
      <parameter name="@Useragent" layout="${aspnet-request-useragent}" />
      <parameter name="@Referrer" layout="${aspnet-request-referrer}" />
      <parameter name="@DateTime" layout="${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Operation" layout="${event-properties:item=Operation}" />
      <parameter name="@ExecuteStatus" layout="${event-properties:item=ExecuteStatus}" />
      <parameter name="@ErrorMsg" layout="${event-properties:item=ErrorMsg}" />
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="Error"  writeTo="error_database" />
    <logger name="*" level="Info" writeTo="operation_database" />
    <logger name="*" writeTo="logfile" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
