<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net461" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.5.4" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.4" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.4" targetFramework="net461" />
  <package id="NLog.Web" version="4.5.3" targetFramework="net461" />
  <package id="NPOI" version="2.3.0" targetFramework="net452" />
  <package id="PetaPoco" version="5.1.289" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
</packages>