<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="maindb" connectionString="Data Source=10.120.73.223;Initial Catalog=VWPFMES_CD;User Id=Sa;Password=vwpfcd!QAZ;" providerName="System.Data.SqlClient"/>
    <!--<add name="HWAdmin" connectionString="Data Source=.;Initial Catalog=HWAdmin.Web;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>