<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!--Nlog配置 登录日志 操作日志 错误日志-->
  <nlog throwExceptions="true">
    <targets>
      <target name="logfile" type="File" fileName="App_Data/errorlog.txt" />
      <target name="error_database" type="Database" connectionString="Data Source=.;Initial Catalog=HWAdmin.Web;User ID=sa;Password=sa123456" dbProvider="System.Data.SqlClient">
        <commandText>
          INSERT INTO dbo.t_sys_ErrorLog
          (
          Id ,
          Host ,
          Controller ,
          Action ,
          Method ,
          Querystring ,
          FormParams ,
          Url ,
          Cookie ,
          Ip ,
          Account_Id ,
          Useragent ,
          Referrer ,
          DateTime ,
          Message ,
          DetailedMessage
          )
          VALUES  (
          @Id ,
          @Host ,
          @Controller ,
          @Action ,
          @Method ,
          @Querystring ,
          @FormParams ,
          @Url ,
          @Cookie ,
          @Ip ,
          @Account_Id ,
          @Useragent ,
          @Referrer ,
          @DateTime ,
          @Message ,
          @DetailedMessage
          )
        </commandText>
        <parameter name="@Id" layout="${guid}" />
        <parameter name="@Host" layout="${aspnet-request-host}" />
        <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
        <parameter name="@Action" layout="${aspnet-mvc-action}" />
        <parameter name="@Method" layout="${aspnet-request-method}" />
        <parameter name="@Querystring" layout="${aspnet-request-querystring:OutputFormat=JSON}" />
        <parameter name="@FormParams" layout="${exception:format=Data}" />
        <parameter name="@Url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <parameter name="@Cookie" layout="${aspnet-request-cookie:OutputFormat=JSON}" />
        <parameter name="@Ip" layout="${aspnet-request-ip}" />
        <parameter name="@Account_Id" layout="${aspnet-item:variable=HttpContext_Account_ID}" />
        <parameter name="@Useragent" layout="${aspnet-request-useragent}" />
        <parameter name="@Referrer" layout="${aspnet-request-referrer}" />
        <parameter name="@DateTime" layout="${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <parameter name="@Message" layout="${exception}" />
        <parameter name="@DetailedMessage" layout="${exception:format=toString}" />
      </target>

      <target name="operation_database" type="Database" connectionString="Data Source=.;Initial Catalog=HWAdmin.Web;User ID=sa;Password=sa123456" dbProvider="System.Data.SqlClient">
        <commandText>
          INSERT INTO dbo.t_sys_OperationLog
          (
          Id ,
          Host ,
          Controller ,
          Action ,
          Method ,
          Querystring ,
          FormParams ,
          Url ,
          Cookie ,
          Ip ,
          Account_Id ,
          Useragent ,
          Referrer ,
          DateTime ,
          Operation ,
          ExecuteStatus,
          ErrorMsg
          )
          VALUES  (
          @Id ,
          @Host ,
          @Controller ,
          @Action ,
          @Method ,
          @Querystring ,
          @FormParams ,
          @Url ,
          @Cookie ,
          @Ip ,
          @Account_Id ,
          @Useragent ,
          @Referrer ,
          @DateTime ,
          @Operation ,
          @ExecuteStatus,
          @ErrorMsg
          )
        </commandText>
        <parameter name="@Id" layout="${guid}" />
        <parameter name="@Host" layout="${aspnet-request-host}" />
        <parameter name="@Controller" layout="${aspnet-mvc-controller}" />
        <parameter name="@Action" layout="${aspnet-mvc-action}" />
        <parameter name="@Method" layout="${aspnet-request-method}" />
        <parameter name="@Querystring" layout="${aspnet-request-querystring:OutputFormat=JSON}" />
        <parameter name="@FormParams" layout="${event-properties:item=FormParams}" />
        <parameter name="@Url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <parameter name="@Cookie" layout="${aspnet-request-cookie:OutputFormat=JSON}" />
        <parameter name="@Ip" layout="${aspnet-request-ip}" />
        <parameter name="@Account_Id" layout="${aspnet-item:variable=HttpContext_Account_ID}" />
        <parameter name="@Useragent" layout="${aspnet-request-useragent}" />
        <parameter name="@Referrer" layout="${aspnet-request-referrer}" />
        <parameter name="@DateTime" layout="${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <parameter name="@Operation" layout="${event-properties:item=Operation}" />
        <parameter name="@ExecuteStatus" layout="${event-properties:item=ExecuteStatus}" />
        <parameter name="@ErrorMsg" layout="${event-properties:item=ErrorMsg}" />
      </target>

      <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    </targets>

    <rules>
      <!-- add your logging rules here -->
      <logger name="*" level="error" writeTo="error_database" />
      <logger name="*" level="info" writeTo="operation_database" />
      <logger name="*" writeTo="logfile" />
      <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    </rules>

  </nlog>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HWAdmin.Web-20180109040325.mdf;Initial Catalog=aspnet-HWAdmin.Web-20180109040325;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="HWAdmin.Web" connectionString="Data Source=.;Initial Catalog=HWAdmin.Web;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--是否开启操作日志-->
    <add key="OperationLog" value="true" />
    <!--允许记录日志的请求方法-->
    <add key="OperationLog_Allow_Method" value="GET|POST" />
    
    <add key="owin:AutomaticAppStartup" value="false" />

  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。
    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>