
@{
}
@model Gift.Qq_Article
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        @Html.Raw(Model.HeadContent)
                    </div>
                </div>
            </div>
        </div>
        <!--右边推荐栏-->
        <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row text-center">
                        <h4>精品推荐</h4>
                    </div>
                    <hr />
                    <div class="thumbnail">
                        <img src="http://img.alicdn.com/bao/uploaded/i2/2330426103/TB1jF77s9BYBeNjy0FeXXbnmFXa_!!0-item_pic.jpg" alt="AIDU/爱度 A1蓝牙音箱无线手机通用迷你苹果音响发光影响户外家用超重低音喇叭小钢炮便携式插卡播放器大功率">
                        <div class="caption">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h5>xxsakdasld</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    ¥50.99
                                </div>
                                <div class="col-xs-6 text-right">
                                    查看详细
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row text-center"><h5>更多精美礼品</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
